:root {
    /* Color Palette*/
    --white: white;
    --black: black;
    /*  */
    /* Other Variables */
    --default-shadow: 0 2px 5px black;
    /*  */
}

h1 {
    font-size: 24pt;
    text-align: center;
}

.main-section>p {
    margin-left: 10px;
}

header {
    font-weight: 500;
    font-size: 20pt;
}